.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.968750;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.875075;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.962000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.663320px;}
._1{margin-left:-1.464000px;}
._0{width:575.968000px;}
.fc2{color:rgb(35,31,32);}
.fc1{color:rgb(34,34,34);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:24.000000px;}
.fs2{font-size:28.000000px;}
.fs4{font-size:32.000000px;}
.fs0{font-size:51.840000px;}
.fs6{font-size:56.000000px;}
.fs1{font-size:67.200000px;}
.fs3{font-size:96.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:6.000000px;}
.y1{bottom:10.000000px;}
.y9{bottom:13.000000px;}
.y3{bottom:15.000000px;}
.y7{bottom:53.000000px;}
.ya{bottom:133.000000px;}
.y8{bottom:510.000000px;}
.y6{bottom:558.000000px;}
.y4{bottom:563.000000px;}
.y5{bottom:564.000000px;}
.h8{height:17.544000px;}
.h1{height:21.000000px;}
.h5{height:23.392000px;}
.h6{height:25.000000px;}
.h9{height:35.000000px;}
.h2{height:38.050560px;}
.ha{height:40.936000px;}
.h7{height:49.324800px;}
.h3{height:57.750000px;}
.h4{height:70.464000px;}
.h0{height:595.000000px;}
.w2{width:37.000000px;}
.w1{width:64.000000px;}
.w3{width:75.000000px;}
.w4{width:97.000000px;}
.w0{width:842.000000px;}
.x0{left:0.000000px;}
.x2{left:6.411920px;}
.x3{left:14.000000px;}
.x8{left:25.000000px;}
.x9{left:34.000000px;}
.x4{left:39.000000px;}
.x7{left:77.000000px;}
.x5{left:419.000000px;}
.xa{left:636.866030px;}
.x6{left:753.000000px;}
.x1{left:764.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-3.551093pt;}
._1{margin-left:-1.952000pt;}
._0{width:767.957333pt;}
.fs5{font-size:32.000000pt;}
.fs2{font-size:37.333333pt;}
.fs4{font-size:42.666667pt;}
.fs0{font-size:69.120000pt;}
.fs6{font-size:74.666667pt;}
.fs1{font-size:89.600000pt;}
.fs3{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:8.000000pt;}
.y1{bottom:13.333333pt;}
.y9{bottom:17.333333pt;}
.y3{bottom:20.000000pt;}
.y7{bottom:70.666667pt;}
.ya{bottom:177.333333pt;}
.y8{bottom:680.000000pt;}
.y6{bottom:744.000000pt;}
.y4{bottom:750.666667pt;}
.y5{bottom:752.000000pt;}
.h8{height:23.392000pt;}
.h1{height:28.000000pt;}
.h5{height:31.189333pt;}
.h6{height:33.333333pt;}
.h9{height:46.666667pt;}
.h2{height:50.734080pt;}
.ha{height:54.581333pt;}
.h7{height:65.766400pt;}
.h3{height:77.000000pt;}
.h4{height:93.952000pt;}
.h0{height:793.333333pt;}
.w2{width:49.333333pt;}
.w1{width:85.333333pt;}
.w3{width:100.000000pt;}
.w4{width:129.333333pt;}
.w0{width:1122.666667pt;}
.x0{left:0.000000pt;}
.x2{left:8.549227pt;}
.x3{left:18.666667pt;}
.x8{left:33.333333pt;}
.x9{left:45.333333pt;}
.x4{left:52.000000pt;}
.x7{left:102.666667pt;}
.x5{left:558.666667pt;}
.xa{left:849.154707pt;}
.x6{left:1004.000000pt;}
.x1{left:1018.666667pt;}
}
